.key {
    background-color: #eaf4fc;
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 25px;
    margin: 5px;
    padding: 7px;
    text-align: center;
    width: 40px;
    cursor: pointer;
   
}
.row {
    display: flex;
    justify-content: center;
}

.key:hover {
    background-color: #d1e2f0;
}

.specialKey {
    width: 70px;
}