.board {
    display: flex;
    font-size: 60px;
    align-items: center;
    flex-direction: column;
    min-width: 60vh;
    justify-content: center;
    width: 100%;
    flex-grow: 1;

}

.boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.currentGuess{
  background-color: bisque;
}

.Test {
  font-size: 15px;
}

.mainBoard {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

