.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.01em;
    line-height: 100%;
    padding-bottom: 5px;
  }

.test {
    display:flex;
    padding: 10px 10px;
    align-items: center;
    height: 64px;
    justify-content: center;
    min-width: 640px;
    max-width: 1280px;
    align-self: center;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;

}

.rightAlign {
    display:flex;
    justify-content:last baseline;
    align-items: center; 
    gap: 1rem
}

.leftAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul {
    white-space:nowrap;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.li {
    display: inline-block;
}