.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.01em;
    line-height: 100%;
    padding-bottom: 5px;
  }

.test {
    display:flex;
    padding: 10px 10px;
    align-items: center;
    height: 64px;

}

.leftAlign {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    padding-left: 40ch

}

.rightAlign {
    display:flex;
    justify-content:last baseline;
    align-items: center; 
    padding-left: 50ch;
}

.rightAlign * {
    padding: 3px;
}
