:root {
  --black: #141414;
  --yellow: #F2C84C;
  --green: #26AD60;
  --gray: #828282;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.mainBody {
  justify-content: center;
  text-align: center;


}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities; 




